<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    THIS IS NORMALLY KEPT FOR MOST WEBSITE PAGES.
    REMOVE COMMENT IF ANY ISSUE ARISE
    -->
    <link rel="stylesheet" type="text/css" href="Portfolio_Draft_CSS_1.1.css">
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

</head>


<body>

    <div class="Top">
        <h1 style="text-align:center; color:#6688dd"> Syed Oeshic </h1>
        <img src="Syed_ProPic.jpg" alt="Syed_ProPic" height = "20%" width= "20%" id= "Cool_Pic">
    </div>
    
    <div id = "Top_Part">
        
        <a class="Column_Link LinkOne" href="Syed_Oeshic_Resume_May_2020_2.pdf">Resume</a>
        <a class="Column_Link LinkTwo" href="THIS_PAGE_IS_UNDER_CONSTRUCTION">Experience</a>
        <a class="Column_Link LinkThree" href="THIS_PAGE_IS_UNDER_CONSTRUCTION">Gaming</a>
        <a class="Column_Link LinkThree" href="THIS_PAGE_IS_UNDER_CONSTRUCTION">VFX</a>
    </div>
    
    <!-- THINGS WENT WRONG. COULDNT COVER LINKS IN THE -->

    <!-- <div class="section_1">
        <nav class="Main_Body List_Of_Pages_Background">
            <ul>
                <li class="Column C_One"><h2>Resume</h2></li>
                <li class="Column C_Two"><h2>Experience</h2></li>
                <li class="Column C_Three"><h2>Gaming</h2></li>
            </ul>
        </nav>
    </div> -->
        
    <div class="Main_Body My_Description">
        <h1 id="My_Description">
            This is my Portfolio
        </h1>
    </div>
        
    <div id = "First_Body">
        <h1 id = "Description_Title">
            Programmer by Day, Gamer by Night.
        </h1>
        <p id = "Description_Paragraph">Hello there! Welcome to my portfolio website. I am an enthusiastic
             and adaptable individual building my knowledge on computer science. 
             I am currently on the path to graduating with a Bachelor of Science
             in Computer Science at the University of Notre Dame. My career interests
             include software engineering and web-development, with a growing
             interest on artificial intelligence. I enjoy playing soccer, table-tennis and
             FPS video games and watching cheesy rom-coms.</p>
    </div>

    <div id = "Bottom_Part">
        
        <a href="THIS_PAGE_IS_UNDER_CONSTRUCTION">Discord</a>
        <a href="https://www.linkedin.com/in/syed-oeshic-140a941a9">LinkedIn</a>
        <a href="https://www.facebook.com/syed.oeishic">Facebook</a>
    </div>


</body>

</html>